<header>
  <h1><a href="/">Crédito.pt</a></h1>
  <p><em>Informe-se antes de pedir</em></p>
  {% include adsense.html %}
  <ul>
    <li><a href="{{ site.url }}/credito-pessoal">Crédito Pessoal</a></li>
    <li><a href="{{ site.url }}/credito-automovel">Crédito Automóvel</a></li>
    <li><a href="{{ site.url }}/credito-habitacao">Crédito Habitação</a></li>
    <li><a href="{{ site.url }}/credito-consolidado">Crédito Consolidado</a></li>
    <li><a href="{{ site.url }}/cartoes-de-credito">Cartões de Crédito</a></li>
  </ul>
</header>
