{% include top.html %}

<body>
  {% include cookie.html %}
  <div class="wrapper">
    {% include header.html %}

    <section>
      {{ content }}

      {% if page.categories contains 'consolidado' %}
        <h2 style="margin-bottom: 5px;">Quer consolidar o seu crédito?</h2>
        <p>Nós recomendados o seguinte.</p>
      {% elsif page.categories contains 'cartao' %}
        <h2 style="margin-bottom: 5px;">Quer um cartão de crédito?</h2>
        <p>Nós recomendados o seguinte.</p>
      {% else %}
        <h2 style="margin-bottom: 5px;">Quer uma proposta sem qualquer custo?</h2>
        <p>Opte por um crédito à sua medida, experimente.</p>
      {% endif %}
      <br/>
      {% include adsense.html %}
      <br/>
      {% include ad_block.html %}
      <hr/>
      <div class="disqus">
        {% include disqus.html %}
      </div>
    </section>

    {% include footer.html %}
  </div>
  {% include analytics.html %}

</body>
</html>
