{% include top.html %}

<body>
  <div class="wrapper">
    {% include header.html %}

    <section>
      <a href="https://action.metaffiliation.com/trk.php?mclic=P417644C3211211"><img src="https://action.metaffiliation.com/trk.php?maff=P417644C3211211"></a>
      <hr />
      {{ content }}

      {% if page.categories contains 'consolidado' %}
        <h2 style="margin-bottom: 5px;">Quer consolidar o seu crédito?</h2>
        <p>Nós recomendados o seguinte.</p>
      {% elsif page.categories contains 'cartao' %}
        <h2 style="margin-bottom: 5px;">Quer um cartão de crédito?</h2>
        <p>Nós recomendados o seguinte.</p>
      {% else %}
        <h2 style="margin-bottom: 5px;">Quer uma proposta sem qualquer custo?</h2>
        <p>Opte por um crédito à sua medida, experimente.</p>
      {% endif %}
      <br/>
      {% include adsense.html %}
      <br/>
      {% include ad_block.html %}
    </section>

  </div>
  {% include analytics.html %}

</body>
</html>
